version: "3.7"

services:
  my_nginx:
    image: nginx
    container_name: my_Web
    volumes:
      - app:/usr/share/nginx/html
    ports:
      - 8080:80
    restart: always
    
  my_counter:
    build: .
    image: "my_countinapp:${TAG}"
    container_name: my_CountingApp
    volumes:
      - app:/usr/share/nginx/html
    
volumes:
   app: 
  
    
