#it's a test workflow to push my image to container registery to see how it works
name: Create and publish a Docker imag

on:

  push:
    branches: [ "main" ]

  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          
          
     
      # Copying files and artifacts via SSH
      - name: Copying files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.TESTREMOTE_HOST }}
          username: ${{ secrets.TESTREMOTE_USER }}
          #key: ${{ secrets.SSH_KEY }}
          #passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          password: ${{ secrets.TESTREMOTE_PASS }}
          rm: true
          source: "docker-compose.yml"
          target: "/temp"
          
         #deploy on remote server   
          
      - name: build package on remote server
        shell: "bash"
        run: |
            - sshpass -p "${{ secrets.TESTREMOTE_HOST }}" ssh -o StrictHostKeyChecking=no ${{ secrets.TESTREMOTE_USER }}@${{ secrets.TESTREMOTE_IP }} "docker login -u $REPO_USER -p $REPO_PASSWORD  $REPO_ADDR ; docker pull $REPO_URL/$REPO_DIR/direct-payment:$TAG ; docker-compse run -d --build "
         
        
